.quicklink-div {
  background-color: white;
  width: 200px;
  height: 100px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.1s ease-in;
  h3 {
    font-size: 1.3rem;
  }
}

a {
  font-family: 'Asul', sans-serif;
  text-decoration: none;
  color: black;
}

.quicklink-div:hover {
  transform: scale(1.05);
}