@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Mukta+Vaani:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
	font-family: 'Draconis';
	src: local('Draconis'),
		url(./assets/fonts/Draconis/Draconis.ttf) format('truetype');
}

@font-face {
	font-family: 'Draconis';
	font-weight: 900;
	src: local('Draconis'), url(./assets/fonts/Draconis/DraconisBold.ttf);
}

@font-face {
	font-family: 'Draconis';
	font-style: italic;
	src: local('Draconis'), url(./assets/fonts/Draconis/DraconisItalic.ttf);
}

@font-face {
	font-family: 'Draconis';
	font-weight: 900;
	font-style: italic;
	src: local('Draconis'), url(./assets/fonts/Draconis/DraconisBoldItalic.ttf);
}

// Media Query Sizing
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Borders + Cards
$border-radius: 0.3rem;
$card-border: 1px solid #aaaaaa;
$card-outline: 1px solid #aaaaaa;
$card-outline-offset: -5px;

// Asul 400 or 700 weight available
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Asul', sans-serif;
}

// Mukta 200-700 available
p,
li,
a {
	font-family: 'Mukta Vaani', sans-serif;
}

a {
	color: var(--text-primary);
}

.App {
	background-color: var(--background);
	color: var(--text-primary);
	min-height: 100vh;
}

.wrapper {
	position: absolute;
}

article {
	position: absolute;
	transition: all 1s;
}

// Forms

input {
	background-color: var(--form-input-background) !important;
	color: var(--text-primary) !important;
}

.dice-input-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	.dice-input {
		width: 125px;
		height: 70px;
		font-family: 'Mukta Vaani', sans-serif;
		text-align: end;
		font-size: 2.2rem;
		padding-right: 15px;
		border: none;
		border-radius: 0;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&::before {
			content: 'test';
		}
		-moz-appearance: textfield;
	}
	.input-icon {
		font-size: 2rem;
		position: absolute;
		left: 0;
		margin: 15px;
	}
}

.form-label {
	font-family: 'Asul', sans-serif;
	font-size: 1.1rem;
}

.form-name-input {
	border: none;
	border-radius: 0;
	font-family: 'Mukta Vaani', sans-serif;
	font-size: 2.2rem;
	font-weight: 500;
	line-height: 0;
	@media screen and (max-width: $lg) {
		font-size: 1.7rem;
	}
	@media screen and (max-width: $sm) {
		font-size: 1.5rem;
	}
}
