html,
body {
	height: 100vh;
	overflow-x: hidden;
}

body {
	position: relative;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
  background-color: var(--background);
  height: 100vh;
}

/* global and LIGHT styling */
:root {
	--background: #e6e6e6;
  --background-secondary: #f8f8f8;
	--text-primary: #292929;
  --text-secondary: #d8d8d8;

  /* all cards (🌞 LIGHT) */
	--card-background: #fff;
  --card-background-secondary: #fff;
  --card-text: #292929;
  --card-subtext: #858585;
  --card-border: 1px solid #d4d4d4;
  --card-outline: 1px solid #c5c5c5;
  --card-hero-border: 1px solid #0a6817;
  --card-hero-outline: 1px solid #23802f;
  --card-monster-border: 1px solid #7b0b0b;
  --card-monster-outline: 1px solid #991c1c;
  --card-button-border: #6c757d;
  --card-button-color: #6c757d;
  --card-button-color-hover: #fff;

  /* battle quickview (LIGHT) */
  --quickview-hover:#00000044;
  --quickview-selected: #d8ebd7;
  --quickview-selected-hover: #8dbb8b;

  /* all forms (🌞 LIGHT) */
  --form-input-background: #fff;
  --form-input-selected: #e4fce4;
}

/* DARK styling */
[data-theme='dark'] {
  --background: #1d1d1d;
  --background-secondary: #111111;
	--text-primary: #d8d8d8;
  --text-secondary: #292929;

  /* all cards (🌙 DARK) */
  --card-background: #363636;
  --card-background-secondary: #2b2b2b;
  --card-text: #d8d8d8;
  --card-subtext: #aaaaaa;
  --card-border: 1px solid #9e9e9e;
  --card-outline: 1px solid #747474;
  --card-button-border: #d8d8d8;
  --card-button-color: #d8d8d8;
  --card-button-color-hover: #292929;

  /* battle quickview (DARK) */
  --quickview-hover: #63636344;
  --quickview-selected: #276d36;
  --quickview-selected-hover: #3b864c;

  /* all forms (🌙 DARK) */ 
  --form-input-background: #363636;
  --form-input-selected: #276d36;
}
