@import 'src/App.scss';

.roll-modal {
  display: flex;
  justify-content: center;

  .roll-modal-content {
    display: flex;
    width: 100%;
    padding: 0 15px 15px 15px;

    .roll {
      flex: 1;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .hero-container {
      flex: 2;

      .hero-list {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 3px;
          padding: 5px 10px;
          border-radius: $border-radius;
          border: $gray-border;
          text-align: center;

          &:hover {
            cursor: pointer;
            background-color: $gray;
          }
        }
      }
    }
  }
}
