@import '../../styles/App.scss';

.prevCard {
  left: 0%;
  opacity: 0;
}

.activeCard {
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

.nextCard {
  left: 100%;
  transform: translateX(calc(-100% - 2rem));
  opacity: 0;
}

.card-btn {
  color: $card-button-color;
  border-color: $card-button-color;

  &:hover {
    color: $card-button-color-hover;
    background-color: $card-button-color;
  }
}

.battle-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .battle-stats {
    display: flex;
    margin-top: 0.5rem;

    .battle-stat {
      margin: 0 0.5rem;
    }
  }

  .battle-chevron {
    font-size: 2rem;
    position: absolute;
  }

  .left-chevron {
    left: 0;
    z-index: 100;
  }

  .right-chevron {
    right: 0;
    z-index: 100;
  }

  .card-field {
    display: flex;
    align-items: center;

    .card-container {
      position: relative;
      display: flex;
      justify-content: center;

      width: 65rem;
      height: 32rem;

      .background-block {
        position: absolute;
        width: 90%;
        height: 100%;
        z-index: 0;
      }
    }
  }
}

.modal-content {
  background-color: $background;
  color: $text-primary;
}

.btn-close {
  color: $text-primary;
  background: none;

  &::after {
    content: '\2716';
    font-size: 1.5rem;
    color: $text-primary;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }
}

.info-modal-action {
  font-style: italic;
  font-weight: 700;
}

.initiative-input {
  width: 48px;
  height: 48px;
  font-family: 'Mukta Vaani', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  border: none;
  border-radius: 0;
  margin-right: 10px;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.initiative-name {
  font-size: 1.3rem;
  margin: 0;
}

#rollModal {
  display: flex;
  justify-content: center;

  .roll-modal-content {
    display: flex;
    width: 100%;
    padding: 0 15px 15px 15px;

    .roll {
      flex: 1;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .hero-container {
      flex: 2;

      .hero-list {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 3px;
          padding: 5px 10px;
          border-radius: $border-radius;
          border: $gray-border;
          text-align: center;

          &:hover {
            cursor: pointer;
            background-color: $gray;
          }
        }
      }
    }
  }
}

.monster-data {
  background-color: $background-secondary;
  color: $text-primary;
  overflow-x: auto;
  width: 100vw;
  display: flex;

  .monster-data-card {
    position: relative;
    text-align: center;
    cursor: pointer;
    padding: 0 5px;
    min-width: 100px;
    transition: background-color 0.2s;
    display: flex;
    flex-direction: column;

    h5 {
      font-size: 1rem;
      flex: 1;
    }

    p {
      font-size: 1rem;

      .hp-icon {
        color: $icon-red;
        font-size: 1rem;
      }

      .ac-icon {
        color: $icon-green;
        font-size: 1rem;
      }
    }
  }

  .monster-data-card:hover {
    background-color: $field-hover;
  }

  .current {
    background-color: $field-selected;
  }

  .current:hover {
    background-color: $field-selected-hover;
  }
  .dead {
    position: relative;

    &::after {
      content: '';
      z-index: 10;
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: rgba($color: #000000, $alpha: 0.5);
    }
  }

  .dead-icon {
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
  }
}

.condition-markers {
  height: 12px;
  display: flex;

  .condition-marker {
    visibility: visible !important;
    width: 10px;
    height: 10px;
    margin: 0px 2px;
    border-radius: 100%;
  }
}
