.creature-grid {
  .grid-header {
    font-weight: 500;
  }
  .creature-row {
    background-color: #ffffff;
    .row-title {
      font-size: 1.3rem;
      font-family: "Mukta Vaani", sans-serif;
    }
    .row-subtitle {
      line-height: 1;
      color: #747474;
      font-weight: 400;
    }
  }
  .selected {
    background-color: #e4fce4;
  }
}
