.monster-data {
	background-color: var(--background-secondary);
	color: var(--text-primary);
	overflow-x: auto;
	width: 100vw;
	display: flex;
	.monster-data-card {
		position: relative;
		text-align: center;
		cursor: pointer;
		padding: 0 5px;
		min-width: 100px;
		transition: background-color 0.2s;
		display: flex;
		flex-direction: column;
		h5 {
			font-size: 1rem;
			flex: 1;
		}
		p {
			font-size: 1rem;
			.hp-icon {
				color: #cf1414;
				font-size: 1rem;
			}
			.ac-icon {
				color: #29901f;
				font-size: 1rem;
			}
		}
	}
	.monster-data-card:hover {
		background-color: var(--quickview-hover);
	}
	.current {
		background-color: var(--quickview-selected);
	}
	.current:hover {
		background-color: var(--quickview-selected-hover);
	}
	.dead {
		position: relative;
		&::after {
			content: '';
			z-index: 10;
			display: block;
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			background: rgba($color: #000000, $alpha: 0.5);
		}
	}
	.dead-icon {
		position: absolute;
		z-index: 11;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 2rem;
	}
}

.condition-markers {
	height: 12px;
	display: flex;
	.condition-marker {
		visibility: visible !important;
		width: 10px;
		height: 10px;
		margin: 0px 2px;
		border-radius: 100%;
	}
	.invisible {
		color: #171717;
		background-color: #aaa;
	}
	.poisoned {
		color: #171717;
		background-color: #6acf61;
	}
	.hexed {
		background-color: #e865db;
	}
	.blind {
		color: #fff;
		background-color: #171717;
	}
	.charmed {
		background-color: #ffc0cb;
	}
	.deafened {
		color: #fff;
		font-weight: 400;
		background-color: #808080;
	}
	.frightened {
		background-color: #dede17;
	}
	.grappled {
		color: #fff;
		background-color: #a52a2a;
	}
	.incapacitated {
		color: #fff;
		background-color: #e86b28;
	}
	.paralyzed {
		color: #171717;
		background-color: yellow;
	}
	.petrified {
		color: #fff;
		background-color: #2f4f4f;
	}
	.prone {
		color: #fff;
		background-color: #7b0b0b;
	}
	.restrained {
		background-color: #aae6a5;
	}
	.stunned {
		background-color: #11e6e6;
	}
	.unconscious {
		color: #fff;
		background-color: #000;
	}
}
