@import 'src/App.scss';

.deck-drawer {
	padding: 20px 0;
	background-color: var(--background-secondary);
	display: flex;
	flex-direction: column;

	.deck-container {
		display: flex;
		overflow: auto;
	}
}

.add-deck {
	background-color: var(--background);
	cursor: pointer;
	min-width: 9rem;
	height: 13rem;
	border-radius: 0.5rem;
	transition: transform 0.2s;

	.plus-button {
		font-size: 4rem;
		color: $dark-gray;
	}

	&:hover {
		transform: scale(1.03);
	}
}

.battle-deck {
	cursor: pointer;
	width: 9rem;
	height: 13rem;
	border: var(--card-border);
	outline: var(--card-outline);
	outline-offset: -5px;
	border-radius: 0.5rem;
	padding: 20px;
	background-color: var(--background-secondary);
	position: relative;

	.battle-deck-title {
		color: white;
		font-size: 1.3rem;
		background-color: rgba(0, 0, 0, 0.418);
	}

	.battle-deck-card-number {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		border-radius: 100%;
		bottom: 0;
		right: 0;
		margin: 15px;
		width: 30px;
		height: 30px;
		background-color: black;
	}

	.nested-deck,
	.double-nested-deck {
		position: absolute;
		width: 9rem;
		min-height: 13rem;
		border: 1px solid $light-gray;
		border-radius: 0.5rem;
		background-color: $dark-gray;
	}

	.nested-deck {
		top: 3px;
		left: 3px;
		z-index: -1;
	}

	.double-nested-deck {
		top: 6px;
		left: 6px;
		z-index: -2;
	}
}

.battle-card {
	width: 18rem;
	min-height: 26rem;
	padding: 16px;
	border: var(--card-border);
	outline: var(--card-outline);
	color: var(--card-text);
	background-color: var(--card-background);
	outline-offset: -5px;
	border-radius: 0.5rem;
	cursor: pointer;

	.battle-card-title {
		text-align: center;
		font-size: 1.5rem;
		margin: 0 0 4px 0;
		border-bottom: $gray-border;
	}

	.card-body {
		padding: 0;

		.form-check-label {
			font-size: 0.75rem;
			text-decoration: line-through;
		}

		.summary-stat {
			color: var(--card-text-secondary);
			font-size: 0.75rem;
			font-weight: 500;
			margin: 0;

			.total-xp {
				color: var(--card-text);
				font-weight: 700;
			}

			.challenge-rating-display {
				font-weight: 700;
				padding: 0 5px;
			}

			.easy {
				color: #0ea559;
			}

			.medium {
				color: #f5a623;
			}

			.hard {
				color: #e45a1d;
			}

			.deadly {
				color: #d54f4f;
			}
		}

		.creature-list-title {
			margin: 0;
			font-size: 0.8rem;
		}

		.summary-list {
			max-height: 240px;
			overflow-y: auto;

			.list-item {
				color: var(--card-text);
				background-color: var(--card-background);
				border: none;
				padding: 0;
				font-size: 0.75rem;
			}

			@media screen and (max-width: $sm) {
				max-height: 90px;
			}
		}
	}

	@media screen and (max-width: 664px) {
		width: 10rem;
		min-height: 16rem;

		.battle-card-title {
			font-size: 1rem;
		}

		.card-btn {
			display: flex;
			padding: 2px;
		}

		.card-body {
			font-size: 0.8rem;

			.roster {
				display: none;
			}
		}

		.summary-stat {
			font-size: 0.5rem;
			font-weight: 700;
			color: #6b6b6b;
			margin: 0;

			.challenge-rating-display {
				font-weight: 700;
				padding: 0 5px;
			}
		}

		.creature-container {
			display: flex;
			justify-content: space-around;
			border-top: 1px solid var(--text-primary);
			padding-top: 8px;
			gap: 5px;
		}

		.creature-list {
			width: 50%;
		}

		.summary-list {
			height: 60px;
			overflow-y: auto;
		}

		.list-item {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

.create-btn-container {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 2;

	.create-btn {
		width: 50px;
		height: 50px;
		font-size: 2.5rem;
		border-radius: 100%;
		background: rgb(76, 166, 226);
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		transition: transform 0.2s ease-in-out;

		@media screen and (min-width: 1200px) {
			width: 65px;
			height: 65px;
		}
	}

	.create-btn:hover {
		transform: scale(1.1);
	}
}

.image-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 440px;
	overflow: auto;

	img {
		margin: 2px;
		border-radius: 0.3rem;

		&:hover {
			cursor: pointer;
		}
	}

	.selected {
		outline: 3px solid #7a1205;
	}

	.not-selected {
		opacity: 0.6;
	}
}

@media (min-width: 1400px) {
	.create-btn {
		width: 100px;
		height: 100px;
	}
}
