.add-deck {
	cursor: pointer;
	width: 9rem;
	height: 13rem;
	border-radius: 0.5rem;
	background-color: #dbdbdb;
	transition: transform 0.2s;
	.plus-button {
		font-size: 4rem;
		color: #6b6b6b;
	}
	&:hover {
		transform: scale(1.03);
	}
}

.battle-deck {
	cursor: pointer;
	width: 9rem;
	height: 13rem;
	border: 1px solid #d4d4d4;
	outline: 1px solid #c5c5c5;
	outline-offset: -5px;
	border-radius: 0.5rem;
	padding: 20px;
	background-color: #6b6b6b;
	position: relative;
	.battle-deck-title {
		color: white;
		font-size: 1.3rem;
		background-color: rgba(0, 0, 0, 0.418);
	}
	.battle-deck-card-number {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		border-radius: 100%;
		bottom: 0;
		right: 0;
		margin: 15px;
		width: 30px;
		height: 30px;
		background-color: black;
	}
	.nested-deck,
	.double-nested-deck {
		position: absolute;
		width: 9rem;
		min-height: 13rem;
		border: 1px solid #d4d4d4;
		border-radius: 0.5rem;
		background-color: #6b6b6b;
	}
	.nested-deck {
		top: 3px;
		left: 3px;
		z-index: -1;
	}
	.double-nested-deck {
		top: 6px;
		left: 6px;
		z-index: -2;
	}
}

.battle-card {
	width: 18rem;
	min-height: 26rem;
	border: 1px solid #d4d4d4;
	outline: 1px solid #c5c5c5;
	outline-offset: -5px;
	border-radius: 0.5rem;
	.battle-card-title {
		font-size: 1.5rem;
		margin: 0;
	}
	.card-body {
		padding: 0;
		.form-check-label {
			font-size: 0.75rem;
			text-decoration: line-through;
		}
		.summary-stat {
			font-size: 0.75rem;
			font-weight: 700;
			color: #6b6b6b;
			margin: 0;
			.total-xp {
				color: black;
			}
			.challenge-rating-display {
				font-weight: 700;
				padding: 0 5px;
			}
			.easy {
				color: #0ea559;
			}
			.medium {
				color: #f5a623;
			}
			.hard {
				color: #e45a1d;
			}
			.deadly {
				color: #d54f4f;
			}
		}
		.accordion-title {
			font-size: 0.8rem;
		}
		.accordion-body {
			padding: 8px;
			font-size: 0.75rem;
			.list-group-item {
				padding: 5px 10px;
			}
		}
		.accordion-subtext {
			font-style: italic;
			font-weight: 300;
			color: #858585;
		}
		.accordion-button {
			padding: 10px;
		}
	}
}

.create-btn-container {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 2;
	.create-btn {
		width: 50px;
		height: 50px;
		font-size: 2.5rem;
		border-radius: 100%;
		background: rgb(76, 166, 226);
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		transition: transform 0.2s ease-in-out;
		@media screen and (min-width: 1200px) {
			width: 65px;
			height: 65px;
		}
	}
	.create-btn:hover {
		transform: scale(1.1);
	}
}

@media (min-width: 1400px) {
	.create-btn {
		width: 100px;
		height: 100px;
	}
}
