.custom-card {
  width: 450px;
  min-height: 30rem;
  border: 1px solid #d4d4d4;
  outline: 1px solid #c5c5c5;
	outline-offset: -5px;
  border-radius: 0.5rem;
  padding: 20px;
}

.accordion-title {
  font-size: 1rem;
}
.accordion-subtext {
  font-style: italic;
  font-weight: 300;
  color: #858585;
}