@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Mukta+Vaani:wght@200;300;400;500;600;700;800&display=swap');

// Asul 400 or 700 weight available
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Asul', sans-serif;
}

// Mukta 200-700 available
p,
li,
a {
	font-family: 'Mukta Vaani', sans-serif;
}

body {
	background-color: #e6e6e6;
}

.card-container {
	position: relative;

	width: 75rem;
	height: 32rem;
}

.background-block {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}
