.prevCard {
	left: 0%;
	opacity: 0;
}

.activeCard {
	left: 50%;
	transform: translateX(-50%);
	z-index: 99;
}

.nextCard {
	left: 100%;
	transform: translateX(calc(-100% - 2rem));
	opacity: 0;
}

.background-block {
	position: absolute;
	width: 90%;
	height: 100%;
	z-index: 0;
}

.card-btn {
	color: var(--card-button-color);
	border-color: var(--card-button-color);
	&:hover {
		color: var(--card-button-color-hover);
		background-color: var(--card-button-color);
	}
}

.battle-container {
	position: relative;
	.battle-chevron {
		font-size: 2rem;
		position: absolute;
	}
	.left-chevron {
		left: 0;
		z-index: 100;
	}
	.right-chevron {
		right: 0;
		z-index: 100;
	}
}

.modal-content {
	background-color: var(--background);
	color: var(--text-primary);
}

.btn-close {
	color: var(--text-primary);
	background: none;
	&::after {
		content: '\2716';
		font-size: 1.5rem;
		color: var(--text-primary);
		position: absolute;
		top: 0;
		right: 0;
		margin: 10px;
	}
}

.info-modal-action {
	font-style: italic;
	font-weight: 700;
}

.card-container {
	position: relative;

	width: 65rem;
	height: 32rem;
}
