.player-name-input {
	font-size: 1.5rem;
	font-weight: 300;
}

.number-input {
	width: 75px;
	height: 75px;
	padding: 0 5px 0 16px;
	font-family: 'Mukta Vaani', sans-serif;
	text-align: center;
	font-size: 2.2rem;
	border-radius: 0;
}

.form-select {
	border-radius: 0;
	font-size: 1rem;
	font-family: 'Mukta Vaani', sans-serif;
}
